{% extends 'base.html' %}

{% load static %}

{% block content %}

<title>Ubah Data Tugas</title>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{request.user.username}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'study_tracker:logout' %}">Log Out</a>
          </li>
        </ul>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
          Tambah Assignment
        </button>
      </div>
    </div>
  </nav>  

<div class="modify">
    <h1>Ubah Data Tugas</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Ubah"/>
                </td>
            </tr>
        </table>
    </form>
</div>

<style>
    .modify {
        width: 700px;
        margin-top: -225px;
        margin-left: -350px;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 20px;
        border: 1px solid #000000;
        border-radius: 5px;
        background-color: #ffffff;
        opacity: 0.9;
    }
</style>

{% endblock %}
